[Unit]
Description=Frp Client Service
#README.md
Documentation=https://github.com/fatedier/frp/blob/master/README.md
After=network.target

[Service]
Type=simle
#User=root # 使用 root 可能会导致安全问题，不过可以使用前 1024 端口
User=nobody
Restart=on-failure
RestartSec=3s
ExecStart=/usr/bin/frpc -c /etc/frp/%i.ini
ExecReload=/usr/bin/frpc reload -c /etc/frp/%i.ini

[Install]
Alias=frp.service
Alias=frp-client.service
WantedBy=multi-user.target
