[Unit]
Description=Frp Client Service
#README.md
Documentation=https://github.com/fatedier/frp/blob/master/README.md
After=network.target

[Service]
Type=simple
User=nobody #root can use 1~1024 ports
Restart=on-failure
ExecStart=/usr/bin/frpc -c /etc/frp/client/frpc.ini
ExecReload=/usr/bin/frpc reload -c /etc/frp/client/frpc.ini
StandardOutput=syslog

[Install]
Alias=frp.service
Alias=frp-client.service
WantedBy=multi-user.target
