[Unit]
Description=Frp run-as Root Client Service
#README.md
Documentation=https://github.com/fatedier/frp/blob/master/README.md
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=3s
ExecStart=/usr/bin/frpc -c /etc/frp/%i.ini
ExecReload=/usr/bin/frpc reload -c /etc/frp/%i.ini

[Install]
Alias=sfrp%i.service
Alias=sfrp-client%i.service
WantedBy=multi-user.target
