[Unit]
Description=Frp Server Service
#README.md
Documentation=https://github.com/fatedier/frp/blob/master/README.md
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=3s
ExecStart=/usr/bin/frps -c /etc/frp/%i.ini

[Install]
Alias=frpd@.service
Alias=frp-server@.service
WantedBy=multi-user.target
