[Unit]
Description=Frp run-as Root Server Service
#README.md
Documentation=https://github.com/fatedier/frp/blob/master/README.md
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
ExecStart=/usr/bin/frps -c /etc/frp/%i.ini
StandardOutput=syslog

[Install]
Alias=sfrpd@.service
Alias=sfrp-server@.service
Alias=frps_run-as_root@.service
WantedBy=multi-user.target
