version: 2
jobs:
  go-version-latest:
    docker:
    - image: cimg/go:1.24-node
    resource_class: large
    steps:
    - checkout
    - run:
        name: Build web assets (frps)
        command: make install build
        working_directory: web/frps
    - run:
        name: Build web assets (frpc)
        command: make install build
        working_directory: web/frpc
    - run: make
    - run: make alltest

workflows:
  version: 2
  build_and_test:
    jobs:
    - go-version-latest
