<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.github.frpc.plist</string>
        <key>WorkingDirectory</key>
        <string>[frp_dir]</string>
        <key>ProgramArguments</key>
        <array>
            <string>./frpc</string>
            <string>-c</string>
            <string>frpc.ini</string>
        </array>
        <key>StandardOutPath</key>
        <string>frpc.log</string>
        <key>StandardErrorPath</key>
        <string>frpc.log</string>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>

<!-- 
# change [frp_dir] first
mv com.github.frpc.plist ~/Library/LaunchAgents/
launchctl load ~/Library/LaunchAgents/com.github.frpc.plist
launchctl list | grep frp
 -->